.home-wrap {
    display: flex;
}

.sidebar{
    width: 0px;
    /* width: 269px;
    @media(max-width: 768px) {
        width: 100vw;
        height: 100px;
        display: flex;
    } */
}

.home {
    display: flex;
    width: calc(100vw - 245px);
    justify-content: center;
    margin-left: 245px;
    @media (min_width: 768px), (max-width:1264px) {
        width: calc(100vw - 72px);
        margin-left: 72px;
    }
    @media(max-width: 768px) {
        margin-left: 0px;
        width: 100vw;
    }
}

.posts-wrap {
    display: flex;
    justify-content: center;
    width: 70%;
    margin-top: 50px;
    @media(max-width: 768px) {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 50px;
    }
}

.suggestion-wrap {
    width: 30%;
    @media(max-width: 768px) {
        display: none;
    }
}