.login-screen {
    width: 100vw;
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

.login-wrapper {
    height: 70%;
    display: flex;
}

.left-side {
    flex: 1;
    display: flex;
    position: relative;
    width: 100%;
    height: 700px;
    min-width: 460px;
    background-image: url(http://localhost:3000/images/loginPage.png);
    background-repeat: no-repeat;
    background-position: right 2px top 60%;
    @media (max-width: 768px) {
        flex: 1;
        display: none;
    }
}

.front-img-wrapper {
    display:flex;
}

.front-img {
    position: absolute;
    top: 65px;
    right: 61px;
}
.front-img.hide {
    opacity: 0;
    -webkit-transition: opacity 1.5s ease-out;
    transition: opacity 1.5s ease-out;
    visibility: visible;
}
.front-img.show {
    opacity: 1;
    -webkit-transition: opacity 1.5s ease-in;
    transition: opacity 1.5s ease-in;
    z-index: 2;
}

.right-login-side {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
    @media (max-width: 768px) {
        justify-content: center;
    }
}

.right-login-wrapper {
    display: flex;
    width: 360px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-color: rgb(189, 189, 189);
}

.instagram-logo {
    display: flex;
    margin-top: 56px;
    margin-bottom: 12px;
    width: 175px;
    height: 51px;
    background-image: url(http://localhost:3000/svg/instagram-text.svg);
    background-repeat: no-repeat;
    background-size: 175px;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 24px;
    margin: 24px;
}

.login-input {
    height: 30px;
    margin: 0px 40px 10px 40px;
    padding: 0px 5px;
}

.login-button {
    margin: 6px 40px;
    margin-bottom: 10px;
    height: 30px;
    border: 1px solid;
    border-radius: 7px;
    color: white;
    font-weight: 600;
    background-color: rgb(0, 149, 246);
}

.login-button:hover {
    background-color: rgb(0, 86, 236);
}

.signup {
    display: flex;
    justify-content: center;
    width:320px;
    margin-top: 16px;
    border: 1px solid;
    padding: 20px;
    border-color: rgb(189, 189, 189);
}

.signup-text {
    color: rgb(0, 149, 246);
    font-weight: 600;
    margin-left: 4px;
    cursor: pointer;
}