.chatCard-wrap {
    display: flex;
    max-height: 72px;
    padding: 8px 24px;
    align-items: center;
}
.chatCard-wrap:hover {
    background-color: rgb(249, 249, 249);
}
.chatCard-wrap.active {
    background-color: rgb(229, 229, 229);
}

.chatCard-image {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    padding-right: 12px
}

.chatCard-info {
    display: flex;
    flex-direction: column;
}

.chatCard-name {
    font-size: 16px;
    color: black;
}

.chatCard-last {
    font-size: 14px;
    color: rgb(115, 115, 115)
}